### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
store_data = pd.read_csv(file_to_load)
store_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [56]:
totalplayers= store_data["SN"].nunique()
totalplayers_df = pd.DataFrame({"Total Players":[totalplayers]})
totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [80]:
uni_num= store_data['Item Name'].nunique()
avgprice= store_data['Price'].mean()
numpur= store_data['Purchase ID'].nunique()
revenue= store_data['Price'].sum()

purchases_df= pd.DataFrame({"Number of Unique Items":[uni_num],
                           "Average Price":[avgprice],
                           "Number of Purchases":[numpur],
                           "Total Revenue":[revenue]})

purchases_df.style.format({"Average Price":"${:.2f}",
                          "Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [122]:
genders= store_data.groupby(['Gender'])
gender_count= genders.nunique()['SN']
per_gender= (gender_count/totalplayers)*100

gender_df= pd.DataFrame({
                         "Count":gender_count,
                         "Percentage of Players":per_gender})

gender_df= gender_df.sort_values(["Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [179]:
pur_count= genders['Purchase ID'].count()
avg_pur= genders['Price'].mean()
total_pur= genders['Price'].sum()
avg_total_pur= total_pur/gender_count

genderpur_df= pd.DataFrame({'Purchase Count':pur_count,
                           'Average Purchase Price':avg_pur,
                            'Total Purchase Value':total_pur,
                           'Average Total per Person':avg_total_pur})

genderpur_df= genderpur_df.sort_values(["Purchase Count"], ascending = False).style.format({"Average Purchase Price":"${:.2f}",
                                                                              'Total Purchase Value':"${:.2f}",
                                                                             'Average Total per Person':"${:.2f}"})
genderpur_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [180]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 123]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

store_data["Age Group"] = pd.cut(store_data["Age"],age_bins, labels=bin_names)

age_group= store_data.groupby("Age Group")

age_count= age_group["SN"].nunique()

age_percent= (age_count/totalplayers)*100

age_df= pd.DataFrame({"Count":age_count,
                     "Percentage of Players":age_percent})
age_df= age_df.style.format({"Percentage of Players":"{:,.2f}%"})
age_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [181]:
age_purcount= age_group["Purchase ID"].count()
avg_price= age_group["Price"].mean()
total_price_age= age_group["Price"].sum()
avg_total_age= total_price_age/age_count 

age_price_df= pd.DataFrame({"Purchase Count":age_purcount,
                           "Avg. Purchase Price":avg_price,
                           "Total Purchase Value":total_price_age,
                           "Avg. Total per Age":avg_total_age})
age_price_df= age_price_df.style.format({"Avg. Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg. Total per Age":"${:,.2f}"})
age_price_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [182]:
spenders= store_data.groupby("SN")
purcount= spenders["Purchase ID"].count()
purvalue= spenders['Price'].sum()
purmean= spenders['Price'].mean()

spender_df= pd.DataFrame({"Purchase Count":purcount,
                         "Average Purchase Price":purmean,
                         "Total Purchase Value":purvalue})
spender_df= spender_df.sort_values(["Total Purchase Value"], ascending = False)
spender_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [183]:
item_data= store_data[['Item ID','Item Name', 'Price']]
items= store_data.groupby(["Item ID","Item Name"])
purcount_item= items["Price"].count()
purvalue_item= items["Price"].sum()
item_price= purvalue_item/purcount_item

pop_df= pd.DataFrame({"Purchase Count":purcount_item,
                     "Item Price":item_price,
                     "Total Purchase Value":purvalue_item})

pop_df= pop_df.sort_values(["Purchase Count"], ascending= False)
pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [187]:
profitable_df= pop_df.sort_values(["Total Purchase Value"], ascending= False)

profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [190]:
###Observable Trends

In [192]:
# 1. Males are most likely to make purchases with 652 total purchases.
# 2. The age demographic that contributes the most to purchases is 20-24 years old.
# 3. The vast majority of paying members are male, 
#     making up 84% of the purchases in this data set